<%= simple_form_for(@theme, :html => {:class => 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="control-group">
    <%= f.input :name %>
  </div>
  
  <% if params[:action] == 'edit' %>
  
  <h2>Settings</h2>
  
  <%= f.fields_for :settings, @theme.settings do |builder| %>
    <%= render 'setting_fields', f: builder %>
  <% end %>
    
  <div class="control-group">
    <div class="controls">
      <%= link_to_add_fields "New setting", f, :settings %>
    </div>
  </div>
  
  <% end %>
  
  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to 'Cancel', themes_path, class: 'btn btn-link' %>
  </div>
<% end %>
