<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Settingsapp" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Settingsapp" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="span12">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <footer>
    </footer>
  </div> <!--! end of .container -->
  
  <div class="navbar navbar-fixed-bottom">
    <nav class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="http://luciddesign.co.nz"><small>&copy;2013 Shopify Settings App, <strong>a project by Lucid Design</strong></small></a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#"><strong>Need help?</strong> Get in touch</a></li>
          <li class="navbar-text"><span class="label label-inverse">v0.1</span></li>
        </ul>
      </div>
    </nav>
  </div>
</body>
</html>
